/* global style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');

/* set background page image or colour */
body {
    background-color: purple;
    background-image: url("../images/cassette-5986249_1280.jpg");
    /* font-family: ; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* make font-size 62.5% so all rem sizes can be set at multiples of 10 */
    font-size: 62.5%;
    font-family: 'Poppins', "Open Sans", sans-serif;

}



